footer {
  padding: 10px 10px 0 10px;
  background: #f5ad42;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 0px; }

.btn-reserva {
  width: 100%;
  color: black;
  border-radius: 0px; }

.btn-outline-success {
  color: white; }

.frase {
  color: black; }

.btn {
  background: #fe8c00;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #f83600, #fe8c00);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to top, #f83600, #fe8c00);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: transparent; }

.btn a {
  color: white; }

.footer-address-icon {
  padding-right: 10px; }

.banner {
  max-width: 100%;
  height: 500px;
  background-image: url("../images/hotel_banner.png");
  background-size: cover;
  background-position: center;
  margin-top: 55px;
  display: flex;
  align-items: flex-end; }

.banner a {
  color: #fceabb;
  font-family: initial;
  margin-bottom: 5%;
  border-top: double;
  border-right: solid;
  border-bottom: solid;
  padding: 2px; }

.breadcrumb {
  margin-top: 15px; }

.tab-content {
  padding-top: 10px; }

.btn-link {
  background-color: white;
  color: white;
  display: inline-block; }
